* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  height: 100%;

  display: block;

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,53,121,1) 39%, rgba(0,212,255,1) 95%);
}

.logo-text {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
}


.container {
  display: flex;
  margin-right: 7rem;
  align-items: center;
  justify-content: center;
}

.surface {
  width: 25rem;
  height: 25rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,53,121,1) 39%, rgba(0,212,255,1) 95%);
  
  display: block;
  text-align: center;
}

textarea {
    
    width: 18rem;
    height: 18rem;
    resize: none;
    margin-top: 2.5rem;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    /* outline: none; */
}

.buttons {
  display: flex;
}

.primary-button,
.secundary-button {
  width: 10rem;
  margin-left: 3.5rem;
}

.btn{
    width: 6rem;
    height: 2rem;
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: bold;
    background: #fff;
    border: none;
    border-radius: .5rem;
    /* outline: none; */
    cursor: pointer;
    transition: background .2s;
}

.btn:hover {
    background: #e2e2e2;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.wrapper-input {
  display: flex;
}

.wrapper-input .input {
  width: 2rem;
  text-align: center;
  font-weight: bolder;
}

#wrapper-input-top-left,
#wrapper-input-top-right,
#wrapper-input-bottom-left,
#wrapper-input-bottom-right {
    position: relative;
}


#wrapper-input-top-left {
  /* display: flex; */
  right: -5rem;
  top: -12rem;
}

#wrapper-input-top-right {
  left: 32rem;
  top: -12rem;
}

#wrapper-input-bottom-left {
  bottom: -12rem;
  right: -1rem;
}

#wrapper-input-bottom-right {
  left: 28rem;
  bottom: -12rem;
}

